.button {
  background: #FAFAFA;
  border: 1px solid #C4CDD5;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  color: #585C60;
  padding: 2px 20px 3px;
  font-size: 0.875rem;
  appearance: none;
  transition-property: background, border, box-shadow;
  transition-duration: .2s;
  cursor: pointer; }

.button:hover {
  background: #F4F4F4; }

.button:active {
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04), inset 0 2px 4px 0 rgba(0, 0, 0, 0.1); }

.button:focus {
  outline: 0; }

.button:disabled {
  color: #C4CDD5;
  border: 1px solid #C4CDD5;
  background: #FAFAFA; }
  .button:disabled i {
    color: #C4CDD5; }
  .button:disabled:active {
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04); }

.button:disabled:hover {
  background: #FAFAFA; }

.buttonPlain:disabled, .buttonPlain:disabled:hover {
  background: none;
  border: none;
  color: #C4CDD5;
  box-shadow: none; }

.buttonSizeSlim {
  min-height: 28px;
  min-width: 28px; }

.buttonSizeRegular {
  min-height: 35px;
  min-width: 35px; }

.buttonSizeLarge {
  min-height: 44px;
  min-width: 44px;
  font-size: 1rem; }

.buttonSquare {
  padding: 2px 0 3px; }

.buttonColorPositive {
  color: white;
  background: #58BE8C;
  border: 1px solid #3FA372; }
  .buttonColorPositive i {
    color: white; }
  .buttonColorPositive:hover {
    background: #4FAA7D; }

.buttonColorNegative {
  color: white;
  background: #E03E30;
  border: 1px solid #BF2A1E; }
  .buttonColorNegative i {
    color: white; }
  .buttonColorNegative:hover {
    background: #C9372B; }

.buttonColorPurple {
  color: white;
  background: #5F6DC5;
  border: 1px solid #404EAE; }
  .buttonColorPurple i {
    color: white; }
  .buttonColorPurple:hover {
    background: #5561B0; }

.fullWidth {
  width: 100%; }

.buttonPlain {
  background: none;
  border: none;
  box-shadow: none;
  color: #5F6DC5;
  padding: 3px 8px;
  transition-property: color;
  transition-duration: .2s; }
  .buttonPlain span {
    padding: 3px 8px; }
  .buttonPlain:hover {
    background: none;
    color: #404EAE; }
  .buttonPlain:active {
    box-shadow: none; }
    .buttonPlain:active span {
      background: #FAFAFA;
      border-radius: 3px; }

.buttonOutline {
  background: none; }

.button .hidden {
  color: transparent; }

.buttonSpinner {
  position: absolute;
  top: 50%;
  left: 50%; }

.button .spinner {
  color: #C4CDD5; }

.buttonSizeSlim .buttonSpinner {
  margin-top: -0.3125rem;
  margin-left: -0.125rem; }

.buttonSizeRegular .buttonSpinner {
  margin-top: 0;
  margin-left: -0.09375rem; }

.buttonSizeLarge .buttonSpinner {
  margin-top: 0;
  margin-left: -0.09375rem; }

.buttonContentLoading {
  position: relative;
  margin-top: -3px;
  height: 1em; }
