@import '../variables';

/*----------------------------------------------------------------------------*
 * button
 *----------------------------------------------------------------------------*/
.kit-button {
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  padding: 2px 20px 3px;
  font-size: $button-font-size;
  appearance: none;
  transition: box-shadow 0.2s;
  cursor: pointer;
  min-height: $button-height-medium;
  min-width: $button-height-medium;
}

.kit-button:focus {
  outline: 0;
}

.kit-button:active {
  outline: 0;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

/*----------------------------------------------------------------------------*
 * size
 *----------------------------------------------------------------------------*/
// large
.kit-button--large {
  min-height: $button-height-large;
  min-width: $button-height-large;
}

// medium
.kit-button--medium {
  min-height: $button-height-medium;
  min-width: $button-height-medium;
}

// small
.kit-button--small {
  min-height: $button-height-small;
  min-width: $button-height-small;
}

/*----------------------------------------------------------------------------*
 * square
 *----------------------------------------------------------------------------*/
.kit-button--square {
  padding: 2px 0 3px;
}

/*----------------------------------------------------------------------------*
 * full-width
 *----------------------------------------------------------------------------*/
.kit-button--full-width {
  width: 100%;
}

/*----------------------------------------------------------------------------*
 * color
 *----------------------------------------------------------------------------*/
// default color
.kit-button--default {
  color: $ink;
  background: #fafafa;
  border: 1px solid $grey-light;
}

// main
.kit-button--main {
  color: white;
  background: $main;
  border: 1px solid darken($main, 15%);
}

// negative
.kit-button--negative {
  color: white;
  background: $negative;
  border: 1px solid darken($negative, 15%);
}

// positive
.kit-button--positive {
  color: white;
  background: $positive;
  border: 1px solid darken($positive, 15%);
}

/*----------------------------------------------------------------------------*
 * hover
 *----------------------------------------------------------------------------*/
.kit-button--default:hover {
  background: linear-gradient(0deg, darken(#fafafa, 5%) 0%, lighten(#fafafa, 3%) 100%);
}

.kit-button--main:hover {
  background: linear-gradient(0deg, darken($main, 5%) 0%, lighten($main, 3%) 100%);
}

.kit-button--positive:hover {
  background: linear-gradient(0deg, darken($positive, 5%) 0%, lighten($positive, 3%) 100%);
}

.kit-button--negative:hover {
  background: linear-gradient(0deg, darken($negative, 5%) 0%, lighten($negative, 3%) 100%);
}

/*----------------------------------------------------------------------------*
 * active
 *----------------------------------------------------------------------------*/
.kit-button--main:active,
.kit-button--negative:active,
.kit-button--positive:active {
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

/*----------------------------------------------------------------------------*
 * disabled
 *----------------------------------------------------------------------------*/
// default color
.kit-button--disabled,
.kit-button--disabled:active,
.kit-button--disabled:hover,
.kit-button--default.kit-button--disabled,
.kit-button--default.kit-button--disabled:active,
.kit-button--default.kit-button--disabled:hover {
  color: $grey-light;
  border: 1px solid $grey-light;
  background: #fafafa;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
}

// main color
.kit-button--main.kit-button--disabled,
.kit-button--main.kit-button--disabled:active,
.kit-button--main.kit-button--disabled:hover {
  color: $white;
  background: lighten($main, 15%);
  border: 1px solid lighten($main, 10%);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
}

// negative color
.kit-button--negative.kit-button--disabled,
.kit-button--negative.kit-button--disabled:active,
.kit-button--negative.kit-button--disabled:hover {
  color: $white;
  background: lighten($negative, 15%);
  border: 1px solid lighten($negative, 10%);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
}

// positive color
.kit-button--positive.kit-button--disabled,
.kit-button--positive.kit-button--disabled:active,
.kit-button--positive.kit-button--disabled:hover {
  color: $white;
  background: lighten($positive, 15%);
  border: 1px solid lighten($positive, 10%);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
}

/*----------------------------------------------------------------------------*
 * loading
 *----------------------------------------------------------------------------*/
.kit-button__content--hidden {
  color: transparent;
}

.kit-button__loading .kit-button__spinner {
  position: relative;
  margin-top: -15px;
}


/*----------------------------------------------------------------------------*
 * plain
 *----------------------------------------------------------------------------*/
.kit-button--plain {
  background: none;
  border: none;
  box-shadow: none;
  padding: 3px 8px;
  min-width: inherit;
  min-height: inherit;
}

.kit-button--plain
.kit-button--plain.kit-button--default {
  color: #585c60;
}

.kit-button--plain.kit-button--main {
  color: $main;
}

.kit-button--plain.kit-button--negative {
  color: $negative;
}

.kit-button--plain.kit-button--positive {
  color: $positive;
}

.kit-button--plain:hover {
  background: none;
}

.kit-button--plain:active {
  box-shadow: none;
}

.kit-button--plain:hover,
.kit-button--plain.kit-button--default:hover {
  color: lighten(#585c60, 15%);
}

.kit-button--plain:active,
.kit-button--plain.kit-button--default:active {
  color: darken(#585c60, 15%);
}

.kit-button--plain.kit-button--main:hover {
  color: lighten($main, 15%);
}

.kit-button--plain.kit-button--main:active, {
  color: darken($main, 15%);
}

.kit-button--plain.kit-button--negative:hover {
  color: lighten($negative, 15%);
}

.kit-button--plain.kit-button--negative:active, {
  color: darken($negative, 15%);
}

.kit-button--plain.kit-button--positive:hover {
  color: lighten($positive, 15%);
}

.kit-button--plain.kit-button--positive:active, {
  color: darken($positive, 15%);
}

.kit-button--plain.kit-button--loading {
  background: none;
  box-shadow: none;
  border: none;
}

.kit-button--plain .kit-button__spinner {
  font-size: 2px;
  color: $grey-light;
  margin: 3px 0;
}

.kit-button--plain.kit-button--disabled,
.kit-button--plain.kit-button--disabled:hover,
.kit-button--plain.kit-button--disabled:active {
  color: $grey-light;
  background: none;
  border: none;
  box-shadow: none;
}

.kit-button--plain.kit-button--main.kit-button--disabled {
  color: lighten($main, 15%);
}

.kit-button--plain.kit-button--negative.kit-button--disabled {
  color: lighten($negative, 15%);
}

.kit-button--plain.kit-button--positive.kit-button--disabled {
  color: lighten($positive, 15%);
}

/*----------------------------------------------------------------------------*
 * outline
 *----------------------------------------------------------------------------*/
.kit-button--outline.kit-button--default {
  color: lighten($ink, 15%);
  border: 1px solid lighten($ink, 15%);
}

.kit-button--outline,
.kit-button--outline:hover,
.kit-button--outline:active {
  background: none;
  box-shadow: none;
}

.kit-button--outline:hover,
.kit-button--outline.kit-button--default:hover {
  color: lighten($ink, 40%);
  border: 1px solid lighten($ink, 40%);
}

.kit-button--outline:active,
.kit-button--outline.kit-button--default:active {
  color: $ink;
  border: 1px solid $ink;
}

// main color
.kit-button--outline.kit-button--main {
  color: $main;
}

.kit-button--outline.kit-button--main:hover {
  color: lighten($main, 15%);
  border: 1px solid lighten($main, 15%);
}

.kit-button--outline.kit-button--main:active {
  color: darken($main, 15%);
  border: 1px solid darken($main, 15%);
}

// negative color
.kit-button--outline.kit-button--negative {
  color: $negative;
  border: 1px solid $negative;
}

.kit-button--outline.kit-button--negative:hover {
  color: lighten($negative, 15%);
  border: 1px solid lighten($negative, 15%);
}

.kit-button--outline.kit-button--negative:active {
  color: darken($negative, 15%);
  border: 1px solid darken($negative, 15%);
}

// positive color
.kit-button--outline.kit-button--positive {
  color: $positive;
  border: 1px solid $positive;
}

.kit-button--outline.kit-button--positive:hover {
  color: lighten($positive, 15%);
  border: 1px solid lighten($positive, 15%);
}

.kit-button--outline.kit-button--positive:active {
  color: darken($positive, 15%);
  border: 1px solid darken($positive, 15%);
}

// disabled
.kit-button--outline.kit-button--disabled,
.kit-button--outline.kit-button--disabled:hover,
.kit-button--outline.kit-button--disabled:active {
  color: $grey-light;
  background: none;
  border: 1px solid $grey-light;
  box-shadow: none;
}

.kit-button--outline.kit-button--main.kit-button--disabled {
  color: lighten($main, 15%);
  border: 1px solid lighten($main, 15%);
}

.kit-button--outline.kit-button--negative.kit-button--disabled {
  color: lighten($negative, 15%);
  border: 1px solid lighten($negative, 15%);
}

.kit-button--outline.kit-button--positive.kit-button--disabled {
  color: lighten($positive, 15%);
  border: 1px solid lighten($positive, 15%);
}

/*----------------------------------------------------------------------------*
 * mobile
 *----------------------------------------------------------------------------*/
@media only screen and (max-width: 960px) {
  .kit-button {
    font-size: $button-font-size-mobile;
  }
}
