@import '../utilities';

.button {
  background: #FAFAFA;
  border: 1px solid #C4CDD5;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.04);
  border-radius: 3px;
  color: #585C60;
  padding: 2px 20px 3px;
  font-size: rem(14px);
  appearance: none;
  transition-property: background, border, box-shadow;
  transition-duration: .2s;
  cursor: pointer;
}

.button:hover {
  background: #F4F4F4;
}

.button:active {
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.04), inset 0 2px 4px 0 rgba(0,0,0,0.10);
}

.button:focus {
  outline: 0;
}

.button:disabled {
  color: #C4CDD5;
  border: 1px solid #C4CDD5;
  background: #FAFAFA;
  i {
    color: #C4CDD5;
  }
  &:active {
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.04);
  }
}

.button:disabled:hover {
  background: #FAFAFA;
}

.plain:disabled,
.plain:disabled:hover {
  background: none;
  border: none;
  color: #C4CDD5;
  box-shadow: none;
}

.slim {
  min-height: 28px;
  min-width: 28px;
}

.regular {
  min-height: 35px;
  min-width: 35px;
}

.large {
  min-height: 44px;
  min-width: 44px;
  font-size: rem(16px);
}

.square {
  padding: 2px 0 3px;
}

.positive {
  color: white;
  background: #58BE8C;
  border: 1px solid #3FA372;
  i {
    color: white;
  }
  &:hover {
    background: #4FAA7D;
  }
}

.negative, {
  color: white;
  background: #E03E30;
  border: 1px solid #BF2A1E;
  i {
    color: white;
  }
  &:hover {
    background: #C9372B;
  }
}

.purple, {
  color: white;
  background: #5F6DC5;
  border: 1px solid #404EAE;
  i {
    color: white;
  }
  &:hover {
    background: #5561B0;
  }
}

.fullWidth {
  width: 100%;
}

.plain {
  background: none;
  border: none;
  box-shadow: none;
  color: #5F6DC5;
  padding: 3px 8px;
  transition-property: color;
  transition-duration: .2s;
  span {
    padding: 3px 8px;
  }
  &:hover {
    background: none;
    color: #404EAE;
  }
  &:active {
    box-shadow: none;
    span {
      background: #FAFAFA;
      border-radius: 3px;
    }
  }
}

.outline {
  background: none;
}

.hidden {
  color: transparent;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

.button .spinner {
  color: #C4CDD5;
}

.slim .spinner {
  margin-top: rem(-5px);
  margin-left: rem(-2px);
}

.regular .spinner {
  margin-top: 0;
  margin-left: rem(-3px)/2;
}

.large .spinner {
  margin-top: 0;
  margin-left: rem(-3px)/2;
}

.loading {
  position: relative;
  margin-top: -3px;
  height: 1em;
}
