/*----------------------------------------------------------------------------*
 * Color
 *----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*
 * Font
 *----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*
 * Size
 *----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*
 * button
 *----------------------------------------------------------------------------*/
.kit-button {
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  padding: 2px 20px 3px;
  font-size: 15px;
  appearance: none;
  transition: box-shadow 0.2s;
  cursor: pointer;
  min-height: 35px;
  min-width: 35px; }

.kit-button:focus {
  outline: 0; }

.kit-button:active {
  outline: 0;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.15); }

/*----------------------------------------------------------------------------*
 * size
 *----------------------------------------------------------------------------*/
.kit-button--large {
  min-height: 44px;
  min-width: 44px; }

.kit-button--medium {
  min-height: 35px;
  min-width: 35px; }

.kit-button--small {
  min-height: 28px;
  min-width: 28px; }

/*----------------------------------------------------------------------------*
 * square
 *----------------------------------------------------------------------------*/
.kit-button--square {
  padding: 2px 0 3px; }

/*----------------------------------------------------------------------------*
 * full-width
 *----------------------------------------------------------------------------*/
.kit-button--full-width {
  width: 100%; }

/*----------------------------------------------------------------------------*
 * color
 *----------------------------------------------------------------------------*/
.kit-button--default {
  color: #222c35;
  background: #fafafa;
  border: 1px solid #c4cdd5; }

.kit-button--main {
  color: white;
  background: #5c6ac4;
  border: 1px solid #38469b; }

.kit-button--negative {
  color: white;
  background: #e03e30;
  border: 1px solid #aa2519; }

.kit-button--positive {
  color: white;
  background: #58be8c;
  border: 1px solid #389166; }

/*----------------------------------------------------------------------------*
 * hover
 *----------------------------------------------------------------------------*/
.kit-button--default:hover {
  background: linear-gradient(0deg, #ededed 0%, white 100%); }

.kit-button--main:hover {
  background: linear-gradient(0deg, #4959bd 0%, #6774c8 100%); }

.kit-button--positive:hover {
  background: linear-gradient(0deg, #47b67f 0%, #63c294 100%); }

.kit-button--negative:hover {
  background: linear-gradient(0deg, #d62f20 0%, #e24a3d 100%); }

/*----------------------------------------------------------------------------*
 * active
 *----------------------------------------------------------------------------*/
.kit-button--main:active,
.kit-button--negative:active,
.kit-button--positive:active {
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.3); }

/*----------------------------------------------------------------------------*
 * disabled
 *----------------------------------------------------------------------------*/
.kit-button--disabled,
.kit-button--disabled:active,
.kit-button--disabled:hover,
.kit-button--default.kit-button--disabled,
.kit-button--default.kit-button--disabled:active,
.kit-button--default.kit-button--disabled:hover {
  color: #c4cdd5;
  border: 1px solid #c4cdd5;
  background: #fafafa;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04); }

.kit-button--main.kit-button--disabled,
.kit-button--main.kit-button--disabled:active,
.kit-button--main.kit-button--disabled:hover {
  color: #fff;
  background: #949dd8;
  border: 1px solid #818cd2;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04); }

.kit-button--negative.kit-button--disabled,
.kit-button--negative.kit-button--disabled:active,
.kit-button--negative.kit-button--disabled:hover {
  color: #fff;
  background: #ea7c73;
  border: 1px solid #e7675c;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04); }

.kit-button--positive.kit-button--disabled,
.kit-button--positive.kit-button--disabled:active,
.kit-button--positive.kit-button--disabled:hover {
  color: #fff;
  background: #8fd3b2;
  border: 1px solid #7dcca5;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04); }

/*----------------------------------------------------------------------------*
 * loading
 *----------------------------------------------------------------------------*/
.kit-button__content--hidden {
  color: transparent; }

.kit-button__loading {
  position: relative; }

.kit-button--small .kit-button__loading {
  height: 1px;
  top: -10px; }

.kit-button__spinner {
  position: absolute !important;
  left: 50%;
  height: 50%; }

.kit-button--large .kit-button__spinner {
  margin: 7px 0 0 -1px; }

.kit-button--medium .kit-button__spinner {
  margin: 9px 0 0 -1px; }

.kit-button--small .kit-button__spinner {
  margin: 0 0 0 -2px; }

/*----------------------------------------------------------------------------*
 * plain
 *----------------------------------------------------------------------------*/
.kit-button--plain {
  background: none;
  border: none;
  box-shadow: none;
  padding: 3px 8px;
  min-width: inherit;
  min-height: inherit; }

.kit-button--plain
.kit-button--plain.kit-button--default {
  color: #585c60; }

.kit-button--plain.kit-button--main {
  color: #5c6ac4; }

.kit-button--plain.kit-button--negative {
  color: #e03e30; }

.kit-button--plain.kit-button--positive {
  color: #58be8c; }

.kit-button--plain:hover {
  background: none; }

.kit-button--plain:active {
  box-shadow: none; }

.kit-button--plain:hover,
.kit-button--plain.kit-button--default:hover {
  color: #7d8288; }

.kit-button--plain:active,
.kit-button--plain.kit-button--default:active {
  color: #333638; }

.kit-button--plain.kit-button--main:hover {
  color: #949dd8; }

.kit-button--plain.kit-button--main:active {
  color: #38469b; }

.kit-button--plain.kit-button--negative:hover {
  color: #ea7c73; }

.kit-button--plain.kit-button--negative:active {
  color: #aa2519; }

.kit-button--plain.kit-button--positive:hover {
  color: #8fd3b2; }

.kit-button--plain.kit-button--positive:active {
  color: #389166; }

.kit-button--plain.kit-button--loading {
  background: none;
  box-shadow: none;
  border: none; }

.kit-button--plain .kit-button__spinner {
  font-size: 2px;
  color: #c4cdd5;
  margin: 3px 0; }

.kit-button--plain.kit-button--disabled,
.kit-button--plain.kit-button--disabled:hover,
.kit-button--plain.kit-button--disabled:active {
  color: #c4cdd5;
  background: none;
  border: none;
  box-shadow: none; }

.kit-button--plain.kit-button--main.kit-button--disabled {
  color: #949dd8; }

.kit-button--plain.kit-button--negative.kit-button--disabled {
  color: #ea7c73; }

.kit-button--plain.kit-button--positive.kit-button--disabled {
  color: #8fd3b2; }

/*----------------------------------------------------------------------------*
 * outline
 *----------------------------------------------------------------------------*/
.kit-button--outline.kit-button--default {
  color: #405364;
  border: 1px solid #405364; }

.kit-button--outline,
.kit-button--outline:hover,
.kit-button--outline:active {
  background: none;
  box-shadow: none; }

.kit-button--outline:hover,
.kit-button--outline.kit-button--default:hover {
  color: #7a93a9;
  border: 1px solid #7a93a9; }

.kit-button--outline:active,
.kit-button--outline.kit-button--default:active {
  color: #222c35;
  border: 1px solid #222c35; }

.kit-button--outline.kit-button--main {
  color: #5c6ac4; }

.kit-button--outline.kit-button--main:hover {
  color: #949dd8;
  border: 1px solid #949dd8; }

.kit-button--outline.kit-button--main:active {
  color: #38469b;
  border: 1px solid #38469b; }

.kit-button--outline.kit-button--negative {
  color: #e03e30;
  border: 1px solid #e03e30; }

.kit-button--outline.kit-button--negative:hover {
  color: #ea7c73;
  border: 1px solid #ea7c73; }

.kit-button--outline.kit-button--negative:active {
  color: #aa2519;
  border: 1px solid #aa2519; }

.kit-button--outline.kit-button--positive {
  color: #58be8c;
  border: 1px solid #58be8c; }

.kit-button--outline.kit-button--positive:hover {
  color: #8fd3b2;
  border: 1px solid #8fd3b2; }

.kit-button--outline.kit-button--positive:active {
  color: #389166;
  border: 1px solid #389166; }

.kit-button--outline.kit-button--disabled,
.kit-button--outline.kit-button--disabled:hover,
.kit-button--outline.kit-button--disabled:active {
  color: #c4cdd5;
  background: none;
  border: 1px solid #c4cdd5;
  box-shadow: none; }

.kit-button--outline.kit-button--main.kit-button--disabled {
  color: #949dd8;
  border: 1px solid #949dd8; }

.kit-button--outline.kit-button--negative.kit-button--disabled {
  color: #ea7c73;
  border: 1px solid #ea7c73; }

.kit-button--outline.kit-button--positive.kit-button--disabled {
  color: #8fd3b2;
  border: 1px solid #8fd3b2; }
