@import '../utilities';

.kit-text {
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Helvetica Neue, sans-serif;
  color: $ink;
}

.kit-text--display-xlarge {
  font-size: $display-xlarge-size;
  line-height: $display-xlarge-lh;
  font-weight: $semi-bold-weight;
}

.kit-text--display-large {
  font-size: $display-large-size;
  line-height: $display-large-lh;
  font-weight: $semi-bold-weight;
}

.kit-text--display-medium {
  font-size: $display-medium-size;
  line-height: $display-medium-lh;
  font-weight: $regular-weight;
}

.kit-text--display-small {
  font-size: $display-small-size;
  line-height: $display-small-lh;
  font-weight: $regular-weight;
}

.kit-text--heading {
  font-size: $heading-size;
  line-height: $heading-lh;
  font-weight: $semi-bold-weight;
}

.kit-text--sub-heading {
  font-size: $sub-heading-size;
  line-height: $sub-heading-lh;
  font-weight: $semi-bold-weight;
  text-transform: uppercase;
}

.kit-text--body {
  font-size: $body-size;
  line-height: $body-lh;
  font-weight: $regular-weight;
}

.kit-text--caption {
  font-size: $caption-size;
  line-height: $caption-lh;
  font-weight: $regular-weight;
}

.kit-text--ink {
  color: $ink;
}

.kit-text--ink-light {
  color: $ink-light;
}

.kit-text--positive {
  color: $positive;
}

.kit-text--negative {
  color: $negative;
}

.kit-text--main {
  color: $main;
}

.kit-text--white {
  color: $white;
}
