/*----------------------------------------------------------------------------*
 * Color
 *----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*
 * Font
 *----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*
 * Size
 *----------------------------------------------------------------------------*/
.kit-text {
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Helvetica Neue, sans-serif;
  color: #222c35; }

.kit-text--display-xlarge {
  font-size: 42px;
  line-height: 44px;
  font-weight: 600; }

.kit-text--display-large {
  font-size: 28px;
  line-height: 32px;
  font-weight: 600; }

.kit-text--display-medium {
  font-size: 26px;
  line-height: 32px;
  font-weight: 400; }

.kit-text--display-small {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400; }

.kit-text--heading {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600; }

.kit-text--sub-heading {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  text-transform: uppercase; }

.kit-text--body {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400; }

.kit-text--caption {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400; }

.kit-text--ink {
  color: #222c35; }

.kit-text--ink-light {
  color: #797d80; }

.kit-text--positive {
  color: #58be8c; }

.kit-text--negative {
  color: #e03e30; }

.kit-text--main {
  color: #5c6ac4; }

.kit-text--white {
  color: #fff; }
