.fontFamily {
  font-family: -apple-system,BlinkMacSystemFont,San Francisco,Roboto,Segoe UI,Helvetica Neue,sans-serif; }

.normalWeight {
  font-weight: 400; }

.boldWeight {
  font-weight: 700; }

.extraSmall {
  font-size: 0.625rem; }

.small {
  font-size: 0.8125rem; }

.regular {
  font-size: 1rem; }

.medium {
  font-size: 1.25rem; }

.large {
  font-size: 1.75rem; }

.extraLarge {
  font-size: 2.625rem; }

.ink {
  color: #222C35; }

.inkLight {
  color: #797D80; }

.positive {
  color: #58BE8C; }

.negative {
  color: #E03E30; }

.purple {
  color: #5C6AC4; }

.white {
  color: white; }
