.fontFamily {
  font-family: -apple-system,BlinkMacSystemFont,San Francisco,Roboto,Segoe UI,Helvetica Neue,sans-serif; }

.normalWeight {
  font-weight: 400; }

.boldWeight {
  font-weight: 700; }

.sizeExtraSmall {
  font-size: 0.625rem; }

.sizeSmall {
  font-size: 0.8125rem; }

.sizeRegular {
  font-size: 1rem; }

.sizeMedium {
  font-size: 1.625rem; }

.sizeLarge {
  font-size: 1.75rem; }

.sizeExtraLarge {
  font-size: 2.625rem; }
