@import '../../components/variables';

/*----------------------------------------------------------------------------*
 * h1
 *----------------------------------------------------------------------------*/
.component-viewer__h1 {
  border-bottom: 1px solid #dfe2e3;
  margin-bottom: 30px;
  padding-bottom: 5px;
}

/*----------------------------------------------------------------------------*
 * element
 *----------------------------------------------------------------------------*/
.component-viewer__element {
  margin: 45px 0;
}

/*----------------------------------------------------------------------------*
 * code
 *----------------------------------------------------------------------------*/
.component-viewer___code {
  background: #282828;
  border-radius: 3px 3px 0 0;
  word-break: break-word;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Helvetica Neue, sans-serif;
}

// red color
.component-viewer___code--red {
  color: #fc1e70;
}
// yellow color
.component-viewer___code--yellow {
  color: #e6dc6d;
}
// green color
.component-viewer___code--green {
  color: #a4e406;
}

/*----------------------------------------------------------------------------*
 * list
 *----------------------------------------------------------------------------*/
.component-viewer__list {
  background: #fff;
  border: 1px solid #dfe2e3;
  box-shadow: 0 1px 1px 0 #d9dadc;
  border-radius: 0 0 3px 3px;
  padding: 30px 0 30px 25px;
  margin-bottom: 45px;
  overflow-x: auto;
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Helvetica Neue, sans-serif;
}

/*----------------------------------------------------------------------------*
 * table
 *----------------------------------------------------------------------------*/
// table
.component-viewer__table {
  width: 100%;
  border-collapse: collapse;
}

// td
.component-viewer__td {
  padding: 15px 25px 15px 15px;
}

// th
.component-viewer__th {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}

// bottom-line
.component-viewer__td--bottom-line {
  border-bottom: 1px solid #c4cdd5;
  padding-right: 0;
}

.component-viewer__tr:last-child .component-viewer__td--bottom-line {
  border-bottom: none;
}

/*----------------------------------------------------------------------------*
 * input
 *----------------------------------------------------------------------------*/
.component-viewer__input {
  min-width: 120px;
}

/*----------------------------------------------------------------------------*
 * code-menu
 *----------------------------------------------------------------------------*/
.component-viewer__code-menu {
  text-align: right;
  padding: 20px 20px 0 20px;
}

/*----------------------------------------------------------------------------*
 * item
 *----------------------------------------------------------------------------*/
.component-viewer__item {
  margin-right: 15px;
}

/*----------------------------------------------------------------------------*
 * code-text
 *----------------------------------------------------------------------------*/
.component-viewer__code-text {
  padding: 20px 25px;
  display: inline-block;
}
