
.thumbnail img, .thumbnailPlaceholder {
  border-radius: 3px;
  background: #FAFAFA;
}

.thumbnailPlaceholder {
  border: 1px solid #C4CDD5;
}

.thumbnail.thumbnailSmall img, .thumbnailSmall .thumbnailPlaceholder {
  width: 40px;
  height: 40px;
}

.thumbnail.thumbnailMedium img, .thumbnailMedium .thumbnailPlaceholder {
  width: 60px;
  height: 60px;
}

.thumbnail.thumbnailLarge img, .thumbnailLarge .thumbnailPlaceholder {
  width: 80px;
  height: 80px;
}
