/*----------------------------------------------------------------------------*
 * thumbnail
 *----------------------------------------------------------------------------*/
.kit-thumbnail__image,
.kit-thumbnail__placeholder {
  border-radius: 3px;
  background: #fafafa;
}

/*----------------------------------------------------------------------------*
 * placeholder
 *----------------------------------------------------------------------------*/
.kit-thumbnail__placeholder {
  border: 1px solid #c4cdd5;
}

/*----------------------------------------------------------------------------*
 * size
 *----------------------------------------------------------------------------*/
// small
.kit-thumbnail--small .kit-thumbnail__image,
.kit-thumbnail--small .kit-thumbnail__placeholder {
  width: 40px;
  height: 40px;
}

// medium
.kit-thumbnail--medium .kit-thumbnail__image,
.kit-thumbnail--medium .kit-thumbnail__placeholder {
  width: 60px;
  height: 60px;
}

// large
.kit-thumbnail--large .kit-thumbnail__image,
.kit-thumbnail--large .kit-thumbnail__placeholder {
  width: 80px;
  height: 80px;
}
