/*----------------------------------------------------------------------------*
 * fieldset
 *----------------------------------------------------------------------------*/
.kit-choicelist__fieldset {
  margin: 0;
  padding: 0;
  border: none; }

/*----------------------------------------------------------------------------*
 * legend
 *----------------------------------------------------------------------------*/
.kit-choicelist__legend {
  margin-bottom: 10px; }

/*----------------------------------------------------------------------------*
 * ul
 *----------------------------------------------------------------------------*/
.kit-choicelist__ul {
  margin: 0;
  padding: 0;
  list-style: none; }

/*----------------------------------------------------------------------------*
 * li
 *----------------------------------------------------------------------------*/
.kit-choicelist__li {
  margin-bottom: 10px; }
