/*----------------------------------------------------------------------------*
 * Color
 *----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*
 * Font
 *----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*
 * Size
 *----------------------------------------------------------------------------*/
.kit-switch {
  background: #f4f4f4;
  border: 1px solid #c4cdd5;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04), inset 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  height: 35px;
  width: 69px;
  padding: 1px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  box-sizing: border-box; }

.kit-switch:focus {
  outline: 0; }

.kit-switch__toggle {
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #dfe2e3;
  box-shadow: 0 1px 2px 0 #d9dadc;
  border-radius: 2px;
  height: 31px;
  left: 0;
  width: 31px;
  position: relative;
  transition: left 0.2s ease-in-out;
  margin-left: 0; }

.kit-switch__toggle:hover {
  background: #f4f4f4; }

.kit-switch--on,
.kit-switch--on.kit-switch--main {
  background: #5c6ac4; }

.kit-switch--on.kit-switch--negative {
  background: #e03e30; }

.kit-switch--on.kit-switch--positive {
  background: #58be8c; }

.kit-switch__toggle--on {
  left: 34px; }

.kit-switch--round,
.kit-switch--round .kit-switch__toggle {
  border-radius: 100px; }

.kit-switch--small {
  height: 28px;
  width: 55px; }

.kit-switch--small .kit-switch__toggle {
  height: 24px;
  width: 24px; }

.kit-switch--small .kit-switch__toggle--on {
  left: 27px; }

.kit-switch--medium {
  height: 35px;
  width: 69px; }

.kit-switch--medium .kit-switch__toggle {
  height: 31px;
  width: 31px; }

.kit-switch--medium .kit-switch__toggle--on {
  left: 34px; }

.kit-switch--large {
  height: 44px;
  width: 87px; }

.kit-switch--large .kit-switch__toggle {
  height: 40px;
  width: 40px; }

.kit-switch--large .kit-switch__toggle--on {
  left: 43px; }
