@import '../variables';

.kit-progress {
  background: rgba(196, 205, 213, 0.4);
  border-radius: 3px;
  width: 100%;
  height: 15px;
}

.kit-progress__bar {
  width: 50%;
  height: 15px;
  background-image: linear-gradient(90deg, lighten($main, 15%) 0%, $main 100%);
  border-radius: 2px 0 0 2px;
  animation: kit-progress-animation 1s linear infinite alternate;
  transition: width 0.18s ease-in-out;
}

.kit-progress--small,
.kit-progress--small .kit-progress__bar {
  height: 8px;
}

.kit-progress--medium,
.kit-progress--medium .kit-progress__bar {
  height: 15px;
}

.kit-progress--large,
.kit-progress--large .kit-progress__bar {
  height: 25px;
}

.kit-progress__bar--max {
  border-radius: 2px;
}

@keyframes kit-progress-animation {
  0% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}
