.progressBar {
  background: rgba(196, 205, 213, 0.4);
  border-radius: 3px;
  width: 100%;
  height: 15px; }

.progressInside {
  width: 50%;
  height: 15px;
  background-image: linear-gradient(90deg, #98A6E4 0%, #5F6DC5 100%);
  border-radius: 2px 0 0 2px;
  animation: progressAnimation 1.0s linear infinite alternate;
  transition: width 0.18s ease-in-out; }

@keyframes progressAnimation {
  0% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }
