@import '../variables';

/*----------------------------------------------------------------------------*
 * spinner
 *----------------------------------------------------------------------------*/
.kit-spinner {
  margin: auto;
}


/*----------------------------------------------------------------------------*
 * color
 *----------------------------------------------------------------------------*/
// ink
.kit-spinner--ink {
  color: $ink;
}

// ink
.kit-spinner--ink-light {
  color: $ink-light;
}

// positive
.kit-spinner--positive {
  color: $positive;
}

// negative
.kit-spinner--negative {
  color: $negative;
}

// main
.kit-spinner--main {
  color: $main;
}

// white
.kit-spinner--white {
  color: $white;
}

/*----------------------------------------------------------------------------*
 * size
 *----------------------------------------------------------------------------*/
// small
.kit-spinner--small {
  font-size: 12px;
}

// medium
.kit-spinner--medium {
  font-size: 16px;
}

// large
.kit-spinner--large {
  font-size: 20px;
}
