/*----------------------------------------------------------------------------*
 * Color
 *----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*
 * Font
 *----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*
 * Size
 *----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*
 * select
 *----------------------------------------------------------------------------*/
.kit-select {
  background: #fff;
  border: 1px solid #c4cdd5;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  color: #222c35;
  padding-left: 10px;
  appearance: none;
  min-height: 35px;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
  cursor: pointer; }

.kit-select:disabled {
  background: #fafafa;
  color: #c4cdd5;
  border: 1px solid #c4cdd5; }

.kit-select:focus {
  border: 2px solid #5c6ac4;
  outline: 0;
  margin-left: -1px; }

/*----------------------------------------------------------------------------*
 * error
 *----------------------------------------------------------------------------*/
.kit-select--error {
  margin-left: -1px;
  border: 1px solid #e03e30;
  background: #f7cfcb; }

.kit-select--error:focus {
  border: 2px solid #e03e30; }

/*----------------------------------------------------------------------------*
 * help-text
 *----------------------------------------------------------------------------*/
.kit-select__help-text {
  margin-top: 5px; }

/*----------------------------------------------------------------------------*
 * label
 *----------------------------------------------------------------------------*/
.kit-select__label {
  margin-bottom: 5px;
  text-align: left; }

/*----------------------------------------------------------------------------*
 * arrow
 *----------------------------------------------------------------------------*/
.kit-select__arrow {
  position: absolute;
  top: 0;
  right: 10px;
  height: 100%;
  line-height: 35px; }

/*----------------------------------------------------------------------------*
 * wrapper
 *----------------------------------------------------------------------------*/
.kit-select__wrapper {
  position: relative;
  width: 100%; }
