@import '../variables';

/*----------------------------------------------------------------------------*
 * select
 *----------------------------------------------------------------------------*/
.kit-select {
  background: #fff;
  border: 1px solid $grey-light;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  color: $ink;
  padding-left: 10px;
  appearance: none;
  min-height: 35px;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.kit-select:disabled {
  background: #fafafa;
  color: #c4cdd5;
  border: 1px solid $grey-light;
}

.kit-select:focus {
  border: 2px solid $main;
  outline: 0;
  margin-left: -1px;
}

/*----------------------------------------------------------------------------*
 * error
 *----------------------------------------------------------------------------*/
.kit-select--error {
  margin-left: -1px;
  border: 1px solid $negative;
  background: lighten($negative, 35%);
}

.kit-select--error:focus {
  border: 2px solid $negative;
}

/*----------------------------------------------------------------------------*
 * help-text
 *----------------------------------------------------------------------------*/
.kit-select__help-text {
  margin-top: 5px;
}

/*----------------------------------------------------------------------------*
 * label
 *----------------------------------------------------------------------------*/
.kit-select__label {
  margin-bottom: 5px;
  text-align: left;
}

/*----------------------------------------------------------------------------*
 * arrow
 *----------------------------------------------------------------------------*/
.kit-select__arrow {
  position: absolute;
  top: 0;
  right: 10px;
  height: 100%;
  line-height: 35px;
}

.kit-select__icon {
  color: $ink-light;
}

/*----------------------------------------------------------------------------*
 * wrapper
 *----------------------------------------------------------------------------*/
.kit-select__wrapper {
  position: relative;
  width: 100%;
}
