@import '../variables';

.kit-Select__input {
  background: #fff;
  border: 1px solid #c4cdd5;
  border-radius: 3px;
  font-size: rem(14px);
  font-weight: 400;
  color: #585c60;
  padding-left: 10px;
  appearance: none;
  min-height: 35px;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
  cursor: pointer;

  &:disabled {
    background: #fafafa;
    color: #c4cdd5;
  }

  &:focus {
    border: 2px solid #5c6ac4;
    outline: 0;
    margin-left: -1px;
  }

  &--error {
    margin-left: -1px;
    border: 2px solid #e03e30 !important;
    background: #f9d8d6 !important;
  }
}

.kit-Select__wrapper {
  position: relative;
  width: 100%;
}

.kit-Select__arrow {
  position: absolute;
  top: 0;
  right: 10px;
  height: 100%;
  line-height: 35px;
}

.kit-Select__helpText {
  margin-top: 5px;
}

.kit-Select__label {
  margin-bottom: 5px;
  text-align: left;
}
