.kit-Skeleton__line {
  background: rgba(196, 205, 213, 0.4);
  border-radius: 3px;
  width: 100%;
  height: 8px;
  margin-bottom: 10px;
  animation: animation 1.0s linear infinite alternate; }
  .kit-Skeleton__line:last-child:not(:first-child) {
    width: 90%; }

.kit-Skeleton__display {
  background: rgba(196, 205, 213, 0.4);
  border-radius: 3px;
  width: 110px;
  height: 30px;
  margin-bottom: 10px;
  animation: animation 1.0s linear infinite alternate; }

@keyframes animation {
  0% {
    opacity: 0.45; }
  100% {
    opacity: 0.9; } }
