@import '../variables';

/*----------------------------------------------------------------------------*
 * color
 *----------------------------------------------------------------------------*/

.kit-icon--ink {
  color: #$ink;
}

.kit-icon--ink-light {
  color: $ink-light;
}

.kit-icon--positive {
  color: #$positive;
}

.kit-icon--negative {
  color: #$negative;
}

.kit-icon--main {
  color: #$main;
}

.kit-icon--white {
  color: $white;
}
