/*----------------------------------------------------------------------------*
 * Color
 *----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*
 * Font
 *----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*
 * Size
 *----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*
 * color
 *----------------------------------------------------------------------------*/
.kit-icon--ink {
  color: #222c35; }

.kit-icon--ink-light {
  color: #797d80; }

.kit-icon--positive {
  color: #58be8c; }

.kit-icon--negative {
  color: #e03e30; }

.kit-icon--main {
  color: #5c6ac4; }

.kit-icon--white {
  color: white; }
