i.kit-Icon--ink {
  color: #222c35; }

i.kit-Icon--inkLight {
  color: #797d80; }

i.kit-Icon--positive {
  color: #58be8c; }

i.kit-Icon--negative {
  color: #e03e30; }

i.kit-Icon--purple {
  color: #5c6ac4; }

i.kit-Icon--white {
  color: white; }
