i.kit-Icon--ink {
  color: #222C35; }

i.kit-Icon--inkLight {
  color: #797D80; }

i.kit-Icon--positive {
  color: #58BE8C; }

i.kit-Icon--negative {
  color: #E03E30; }

i.kit-Icon--purple {
  color: #5C6AC4; }

i.kit-Icon--white {
  color: white; }
