.kit-Branding__branding {
  height: 56px;
  display: inline-block;
  width: 249px;
  position: fixed;
  background: #fafafa;
  top: 0;
  left: 0;
  padding: 0 15px;
  box-sizing: border-box;
  box-shadow: 0 12px 12px -3px #fafafa; }
  .kit-Branding__branding a,
  .kit-Branding__branding a:focus,
  .kit-Branding__branding a:hover,
  .kit-Branding__branding a:visited {
    width: inherit;
    display: inline;
    transition: none;
    margin-left: 0; }
  .kit-Branding__branding a.logo,
  .kit-Branding__branding a.logo:hover,
  .kit-Branding__branding a.logo:focus,
  .kit-Branding__branding a.logo:visited {
    height: 56px;
    width: 36px;
    display: inline-block;
    float: left; }
  .kit-Branding__branding a:hover {
    opacity: 0.7; }
  .kit-Branding__branding img {
    height: 24px;
    width: 36px;
    margin: 0;
    display: inline-block;
    padding-top: 16px; }
  .kit-Branding__branding h1 {
    display: inline-block;
    margin: 0 5px 0 10px;
    line-height: 56px; }
  .kit-Branding__branding span {
    margin: 0;
    line-height: 56px; }

.kit-Branding__clear {
  clear: both; }
