.kit-Branding__branding {
  height: 56px;
  display: inline-block;
  width: 250px - 1px;
  position: fixed;
  background: #fafafa;
  top: 0;
  left: 0;
  padding: 0 15px;
  box-sizing: border-box;
  box-shadow: 0 12px 12px -3px #fafafa;

  a,
  a:focus,
  a:hover,
  a:visited {
    width: inherit;
    display: inline;
    transition: none;
    margin-left: 0;
  }

  a.logo,
  a.logo:hover,
  a.logo:focus,
  a.logo:visited {
    height: 56px;
    width: 36px;
    display: inline-block;
    float: left;
  }

  a:hover {
    opacity: 0.7;
  }

  img {
    height: 24px;
    width: 36px;
    margin: 0;
    display: inline-block;
    padding-top: (56px - 24px)/2;
  }

  h1 {
    display: inline-block;
    margin: 0 5px 0 10px;
    line-height: 56px;
  }

  span {
    margin: 0;
    line-height: 56px;
  }
}

.kit-Branding__clear {
  clear: both;
}
