.branding {
  height: 56px;
  display: inline-block;
  width: 249px;
  position: fixed;
  background: #FAFAFA;
  top: 0;
  left: 0;
  padding: 0 15px;
  box-sizing: border-box; }
  .branding a {
    width: inherit; }
  .branding img {
    height: 24px;
    width: 36px;
    margin: 0;
    display: inline-block;
    padding-top: 16px; }
  .branding h1 {
    margin: 0;
    display: inline-block;
    margin: 0 5px 0 10px;
    line-height: 56px; }
  .branding span {
    display: inline-block;
    margin: 0;
    line-height: 56px; }
  .branding .logo {
    height: 56px;
    width: 36px;
    display: inline-block;
    float: left; }
  .branding .clear {
    clear: both; }
