.input {
  background: #FFFFFF;
  border: 1px solid #C4CDD5;
  border-radius: 3px;
  font-size: 0.875rem;
  font-weight: 400;
  color: #585C60;
  padding-left: 10px;
  appearance: none;
  min-height: 35px;
  box-sizing: border-box;
  width: 100%; }

.input:focus {
  border: 2px solid #5C6AC4;
  outline: 0;
  margin-left: -1px; }

.action {
  display: inline;
  float: right; }

.label {
  display: inline-block;
  margin-bottom: 5px;
  text-align: left; }

.input:disabled {
  background: #FAFAFA;
  color: #C4CDD5; }

.error {
  margin-left: -1px;
  border: 2px solid #E03E30 !important;
  background: #F9D8D6 !important; }

.errorMessage,
.helpText {
  margin-top: 5px;
  text-align: left; }

.errorIcon {
  margin-right: 5px;
  text-align: left; }

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px; }

.wrapper button {
  min-height: inherit;
  min-width: inherit;
  padding: 0;
  margin-right: -8px;
  margin-bottom: 5px; }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }
