@import '../utilities';

.kit-TextInput__input {
  background: #FFFFFF;
  border: 1px solid #C4CDD5;
  border-radius: 3px;
  font-size: rem(14px);
  font-weight: 400;
  color: #585C60;
  padding-left: 10px;
  appearance: none;
  min-height: 35px;
  box-sizing: border-box;
  width: 100%;

  &:focus {
    border: 2px solid #5C6AC4;
    outline: 0;
    margin-left: -1px;
  }

  &:disabled {
    background: #FAFAFA;
    color: #C4CDD5;
  }

  &--shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  &--error {
    margin-left: -1px;
    border: 2px solid #E03E30 !important;
    background: #F9D8D6 !important;
  }
}

.kit-TextInput__action {
  display: inline;
  float: right;
  min-height: inherit;
  min-width: inherit;
  padding: 0;
  margin-right: -8px;
  margin-bottom: 5px;
}

.kit-TextInput__label {
  display: inline-block;
  margin-bottom: 5px;
  text-align: left;
  float: left;
}

.kit-TextInput__errorMessage,
.kit-TextInput__helpText {
  margin-top: 5px;
  text-align: left;
}

.kit-TextInput__errorIcon {
  margin-right: 5px;
  text-align: left;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
