/*----------------------------------------------------------------------------*
 * General
 *----------------------------------------------------------------------------*/
// mobile break point
$breakpoint: 960px;

/*----------------------------------------------------------------------------*
 * Color
 *----------------------------------------------------------------------------*/
$ink: #222c35;
$ink-light: #797d80;
$grey-light: #c4cdd5;
$positive: #58be8c;
$negative: #e03e30;
$main: #5c6ac4;
$white: #fff;

/*----------------------------------------------------------------------------*
 * Text
 *----------------------------------------------------------------------------*/
// font-size
$display-xlarge-size: 42px;
$display-large-size: 28px;
$display-medium-size: 26px;
$display-small-size: 20px;
$heading-size: 16px;
$sub-heading-size: 12px;
$body-size: 14px;
$caption-size: 12px;

// mobile font-size
$display-xlarge-size-mobile: 27px;
$display-large-size-mobile: 24px;
$display-medium-size-mobile: 21px;
$display-small-size-mobile: 16px;
$heading-size-mobile: 17px;
$sub-heading-size-mobile: 13px;
$body-size-mobile: 15px;
$caption-size-mobile: 13px;

// line-height
$display-xlarge-lh: 44px;
$display-large-lh: 32px;
$display-medium-lh: 32px;
$display-small-lh: 28px;
$heading-lh: 24px;
$sub-heading-lh: 16px;
$body-lh: 20px;
$caption-lh: 16px;

// mobile line-height
$display-xlarge-lh-mobile: 36px;
$display-large-lh-mobile: 28px;
$display-medium-lh-mobile: 28px;
$display-small-lh-mobile: 24px;
$heading-lh-mobile: 24px;
$sub-heading-lh-mobile: 16px;
$body-lh-mobile: 20px;
$caption-lh-mobile: 16px;

// font-weight
$black-weight: 900;
$heavy-weight: 800;
$bold-weight: 700;
$semi-bold-weight: 600;
$medium-weight: 500;
$regular-weight: 400;
$thin-weight: 300;
$light-weight: 200;
$ultra-light-weight: 100;


/*----------------------------------------------------------------------------*
 * Button
 *----------------------------------------------------------------------------*/
// height
$button-height-large: 44px;
$button-height-medium: 35px;
$button-height-small: 28px;

// font-size
$button-font-size: 14px;
$button-font-size-mobile: 15px;


/*----------------------------------------------------------------------------*
 * Checkbox
 *----------------------------------------------------------------------------*/
// width and height
$checkbox-size: 20px;
