.checkboxWrapper input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  margin: 0;
  padding: 0;
  float: left; }
  .checkboxWrapper input:disabled:after {
    border: 1px solid #E3E6EA; }
  .checkboxWrapper input:checked:disabled:after {
    background: #FAFAFA; }
  .checkboxWrapper input:checked:disabled + .checkmark {
    color: #E3E6EA; }
  .checkboxWrapper input:checked:disabled + .radioMiddle {
    background: #E3E6EA; }

.checkboxWrapper {
  min-height: 20px; }

.checkboxWrapper label {
  margin-left: 5px; }

.checkboxWrapper input:after {
  display: inline-block;
  content: '';
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #FAFAFA;
  border: 1px solid #C4CDD5;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  transition: background .2s ease-in-out;
  box-sizing: border-box; }

.checkboxWrapper input:checked:after {
  background: #5C6AC4; }

.checkboxWrapper input:checked ~ .checkmark {
  transform: translate(-50%, -50%) scale(1); }

.checkboxInnerWrapper {
  position: relative;
  height: 20px;
  float: left;
  width: 20px;
  display: inline-block; }

.checkboxWrapper .checkmark {
  pointer-events: none;
  width: 13px;
  height: 13px;
  position: absolute;
  font-size: 13px;
  transform: translate(-50%, -50%) scale(0);
  left: 50%;
  top: 50%;
  transition: transform .2s ease-in-out; }

.checkboxError input:after, .checkboxError input:checked:after {
  background: #F9D8D6;
  border: 2px solid #E03E30; }

.checkboxWrapper .label {
  display: inline-block;
  float: left; }

.checkboxWrapper .helpText {
  clear: both;
  margin-left: 27px; }

.radioInput input:after {
  border-radius: 20px; }

.radioMiddle {
  pointer-events: none;
  display: block;
  width: 5px;
  border-radius: 5px;
  height: 5px;
  background: white;
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  left: 50%;
  top: 50%;
  transition: transform .2s ease-in-out; }

.radioInput input:checked ~ .radioMiddle {
  transform: translate(-50%, -50%) scale(1); }
