.kit-Avatar__placeholder {
  border: 1px solid #c4cdd5;
}

.kit-Avatar__avatar {
  display: inline-block;

  &--small {
    width: 32px;
    height: 32px;
    line-height: 32px;
  }

  &--medium {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  &--large {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

.kit-Avatar__avatar img,
.kit-Avatar__placeholder {
  border-radius: 50%;
  background: #fafafa;
  text-align: center;
}
