.placeholder {
  border: 1px solid #C4CDD5;
}

.avatar {
  display: inline-block;
}

.avatar img,
.placeholder {
  border-radius: 50%;
  background: #FAFAFA;
  text-align: center;
}


.small {
  width: 32px;
  height: 32px;
  line-height: 32px;
}

.medium {
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.large {
  width: 60px;
  height: 60px;
  line-height: 60px;
}
