.kit-avatar {
  display: inline-block; }

.kit-avatar__placeholder {
  border: 1px solid #c4cdd5; }

.kit-avatar__image,
.kit-avatar__placeholder {
  border-radius: 50%;
  background: #fafafa;
  text-align: center; }

.kit-avatar--small .kit-avatar__image,
.kit-avatar--small .kit-avatar__placeholder {
  width: 32px;
  height: 32px;
  line-height: 32px; }

.kit-avatar--medium .kit-avatar__image,
.kit-avatar--medium .kit-avatar__placeholder {
  width: 40px;
  height: 40px;
  line-height: 40px; }

.kit-avatar--large .kit-avatar__image,
.kit-avatar--large .kit-avatar__placeholder {
  width: 60px;
  height: 60px; }

.kit-avatar--large .kit-avatar__placeholder .kit-text {
  font-size: 24px;
  line-height: 60px; }
