.tooltipBox {
  position: absolute;
  transform: translateX(-50%);
  background: #4A4A4A;
  border-radius: 4px;
  padding: 10px;
  width: 200px;
  transition: all 0.18s ease-out 0.18s;
  opacity: 0;
  text-align: left;
}

.active .tooltipBox {
  opacity: 1;
}

.tooltipBox:after {
    content: " ";
    position: absolute;
    transition: all 0.18s ease-out 0.18s;
    left: 50%;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #4A4A4A transparent;
}

.tooltipContent {
  display: inline-block;
}

.tooltip {
  display: inline-block;
  position: relative;
}

.tooltip.bottom {
  .tooltipBox:after {
    bottom: 100%;
  }
}

.tooltip.top {
  .tooltipBox {
    bottom: 0;
  }

  .tooltipBox:after {
    top: 100%;
    border-color: #4A4A4A transparent transparent transparent;
  }
}

.tooltip.left {
  .tooltipBox {
    transform: translateX(-100%);
  }

  .tooltipBox:after {
    top: 50%;
    left: 100%;
    margin-left: 0;
    margin-top: -8px;
    border-color: transparent transparent transparent #4A4A4A;
  }
}

.tooltip.right {
  .tooltipBox {
    transform: translateX(0);
  }

  .tooltipBox:after {
      left: -8px;
      top: 50%;
      margin-left: -8px;
      margin-top: -8px;
      border-color: transparent #4A4A4A transparent transparent;
  }

  .tooltipBox:after {
  }
}

.tooltip.light {
  .tooltipBox {
    background: #FFFFFF;
    border: 1px solid #DFE2E3;
    box-shadow: 0 1px 1px 0 rgba(217,218,220,0.50);
  }
}

.tooltip.right.light {
  .tooltipBox:after {
    filter:drop-shadow(-1px 0 0 #DFE2E3);
    border-color: transparent #FFFFFF transparent transparent;
  }
}

.tooltip.left.light {
  .tooltipBox:after {
    filter:drop-shadow(1px 0 0 #DFE2E3);
    border-color: transparent transparent transparent #FFFFFF;
  }
}

.tooltip.top.light {
  .tooltipBox:after {
    filter:drop-shadow(0 1px 0 #DFE2E3);
    border-color: #FFFFFF transparent transparent transparent;
  }
}

.tooltip.bottom.light {
  .tooltipBox:after {
    filter:drop-shadow(0 -1px 0 #DFE2E3);
    border-color: transparent transparent #FFFFFF transparent;
  }
}
