/*----------------------------------------------------------------------------*
 * Color
 *----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*
 * Font
 *----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*
 * Size
 *----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*
 * tooltip
 *----------------------------------------------------------------------------*/
.kit-tooltip {
  display: inline-block;
  position: relative; }

/*----------------------------------------------------------------------------*
 * box
 *----------------------------------------------------------------------------*/
.kit-tooltip__box {
  position: absolute;
  transform: translateX(-50%);
  background: #4a4a4a;
  border-radius: 4px;
  padding: 10px;
  width: 200px;
  transition: all 0.18s ease-out 0.18s;
  opacity: 0;
  text-align: left; }

.kit-tooltip__box::after {
  content: " ";
  position: absolute;
  transition: all 0.18s ease-out 0.18s;
  left: 50%;
  margin-left: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #4a4a4a transparent; }

/*----------------------------------------------------------------------------*
 * active
 *----------------------------------------------------------------------------*/
.kit-tooltip--active .kit-tooltip__box {
  opacity: 1; }

/*----------------------------------------------------------------------------*
 * content
 *----------------------------------------------------------------------------*/
.kit-tooltip__content {
  display: inline-block; }

/*----------------------------------------------------------------------------*
 * position
 *----------------------------------------------------------------------------*/
.kit-tooltip--bottom .kit-tooltip__box::after {
  bottom: 100%; }

.kit-tooltip--top .kit-tooltip__box {
  bottom: 0; }

.kit-tooltip--top .kit-tooltip__box::after {
  top: 100%;
  border-color: #4a4a4a transparent transparent transparent; }

.kit-tooltip--left .kit-tooltip__box {
  transform: translateX(-100%); }

.kit-tooltip--left .kit-tooltip__box::after {
  top: 50%;
  left: 100%;
  margin-left: 0;
  margin-top: -8px;
  border-color: transparent transparent transparent #4a4a4a; }

.kit-tooltip--right .kit-tooltip__box {
  transform: translateX(0); }

.kit-tooltip--right .kit-tooltip__box::after {
  left: -8px;
  top: 50%;
  margin-left: -8px;
  margin-top: -8px;
  border-color: transparent #4a4a4a transparent transparent; }

/*----------------------------------------------------------------------------*
 * light
 *----------------------------------------------------------------------------*/
.kit-tooltip--light .kit-tooltip__box {
  background: #fff;
  border: 1px solid #dfe2e3;
  box-shadow: 0 1px 1px 0 rgba(217, 218, 220, 0.5); }

.kit-tooltip--light .kit-tooltip__box::after {
  filter: drop-shadow(-1px 0 0 #dfe2e3);
  border-color: transparent #fff transparent transparent; }

.kit-tooltip--left.kit-tooltip--light .kit-tooltip__box::after {
  filter: drop-shadow(1px 0 0 #dfe2e3);
  border-color: transparent transparent transparent #fff; }

.kit-tooltip--top.kit-tooltip--light .kit-tooltip__box::after {
  filter: drop-shadow(0 1px 0 #dfe2e3);
  border-color: #fff transparent transparent transparent; }

.kit-tooltip--bottom.kit-tooltip--light .kit-tooltip__box::after {
  filter: drop-shadow(0 -1px 0 #dfe2e3);
  border-color: transparent transparent #fff transparent; }
