/*----------------------------------------------------------------------------*
 * home
 *----------------------------------------------------------------------------*/
.home {
  padding: 0  0 45px 0; }

.home h1 {
  text-align: center; }

.home h1,
.home h2 {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid rgba(196, 205, 213, 0.6); }

.home h2,
.home h3,
.home h4 {
  margin-top: 24px;
  margin-bottom: 16px; }

.home a,
.home a:hover,
.home a:focus,
.home a:visited,
.home a:active {
  text-decoration: none;
  color: #5c6ac4; }

.home a:hover {
  opacity: 0.7; }

.home pre {
  padding: 15px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 3px; }

.home p {
  margin-top: 0;
  margin-bottom: 16px; }

.home li {
  margin-top: 10px; }

/*----------------------------------------------------------------------------*
 * badge
 *----------------------------------------------------------------------------*/
.home__badge {
  margin-right: 5px; }

/*----------------------------------------------------------------------------*
 * logo
 *----------------------------------------------------------------------------*/
.home__logo {
  display: block;
  margin: auto; }
