.kit-Home__home {
  padding: 0 0 45px 0; }
  .kit-Home__home h1 {
    text-align: center; }
  .kit-Home__home h1,
  .kit-Home__home h2 {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(196, 205, 213, 0.6); }
  .kit-Home__home h2,
  .kit-Home__home h3,
  .kit-Home__home h4 {
    margin-top: 24px;
    margin-bottom: 16px; }
  .kit-Home__home a,
  .kit-Home__home a:hover,
  .kit-Home__home a:focus,
  .kit-Home__home a:visited,
  .kit-Home__home a:active {
    text-decoration: none;
    color: #5C6AC4; }
  .kit-Home__home a:hover {
    opacity: 0.7; }
  .kit-Home__home pre {
    padding: 15px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 3px; }
  .kit-Home__home p {
    margin-top: 0;
    margin-bottom: 16px; }
  .kit-Home__home li {
    margin-top: 10px; }

.kit-Home__badge {
  margin-right: 5px; }

.kit-Home__logo {
  display: block;
  margin: auto; }
