.app .container {
  max-width: 650px;
  padding-top:45px;
  margin: auto;
}

.navigationBar + .container {
  padding-left: 250px;
}

.app {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}
