/*----------------------------------------------------------------------------*
 * navigation
 *----------------------------------------------------------------------------*/
.navigation {
  background: #fafafa;
  width: 250px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
  border-right: 1px solid rgba(196, 205, 213, 0.6);
  overflow-y: scroll;
  padding-top: 70px; }

/*----------------------------------------------------------------------------*
 * ul
 *----------------------------------------------------------------------------*/
.navigation__ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/*----------------------------------------------------------------------------*
 * li
 *----------------------------------------------------------------------------*/
.navigation__li {
  display: block;
  width: 100%;
  margin-bottom: 10px; }

/*----------------------------------------------------------------------------*
 * text
 *----------------------------------------------------------------------------*/
.navigation span {
  transition: all 0.2s ease-in-out; }

/*----------------------------------------------------------------------------*
 * link
 *----------------------------------------------------------------------------*/
.navigation__link,
.navigation__link:active,
.navigation__link:focus,
.navigation__link:visited {
  color: #222c35;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  outline: none;
  transition: all 0.2s ease-in-out; }

.navigation__link:hover {
  color: #5c6ac4;
  margin-left: 10px; }

/*----------------------------------------------------------------------------*
 * active
 *----------------------------------------------------------------------------*/
.navigation__link--active {
  background: #5c6ac4;
  padding: 8px 0 8px 10px;
  box-sizing: border-box;
  border-radius: 3px;
  color: white; }

.navigation__link--active span {
  color: white; }

.navigation__link--active:hover {
  margin-left: 0; }

.navigation__link--active:hover span {
  padding-left: 10px;
  transition: all 0.2s ease-in-out; }
