/*----------------------------------------------------------------------------*
 * Color
 *----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*
 * Font
 *----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*
 * Size
 *----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*
 * left
 *----------------------------------------------------------------------------*/
.kit-paginator__left {
  display: inline-block; }

.kit-paginator__left-button {
  border-radius: 3px 0 0 3px; }

/*----------------------------------------------------------------------------*
 * right
 *----------------------------------------------------------------------------*/
.kit-paginator__right {
  display: inline-block; }

.kit-paginator__right-button {
  border-left: none !important;
  border-radius: 0 3px 3px 0; }

/*----------------------------------------------------------------------------*
 * mixed
 *----------------------------------------------------------------------------*/
.kit-paginator__right--disabled .kit-paginator__right-icon,
.kit-paginator__left--disabled .kit-paginator__left-icon {
  color: #c4cdd5; }
