.kit-Paginator__left {
  display: inline-block;

  button {
    border-radius: 3px 0 0 3px;
  }
}

.kit-Paginator__right {
  display: inline-block;

  button {
    border-left: none !important;
    border-radius: 0 3px 3px 0;
  }
}
